{% extends 'admin.html' %}
{% block content %}
{% load static %}

<style>
body{
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdr2Djt1a3dgSYNKmUpEgc3KzXRHgCoClSSA&usqp=CAU');
  
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
 
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 * {
box-sizing: border-box;
}
.card{
  background: linear-gradient(to right, rgba(53, 57, 61, 0.4), rgba(2, 2, 8, 0.7));
  margin-top: 150px;
  margin-left: 150px;
  margin-right: 50px;
}
</style>

<div class="main-panel">
  <div class="content-wrapper">
    
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-body">
    <h2 class="text-center p-2 mt-5 text-uppercase font-weight-bold mb-5" style="color: azure;"> 
        Contacts</h2>

    <table class="table table-striped" style="background-color: aliceblue;">

      <thead class = "mt-3 p-1" style="background-color: rgb(76, 68, 68); color:azure;">
        <tr>
          
          <th>NAME</th>
          <th>EMAIL</th>
          <th>COMPANY</th>
          <th>PHONE</th>
          <th>MESSAGE</th>
          <th>ACTION</th>
        </tr>
      </thead>

      <tbody class="font-weight-bold">
        
            {% for c in contact %}
        <tr>
            <td style="text-transform: capitalize;"> 
              {{ c.name }}</td>
            <td>{{ c.email }}</td>
            <td style="text-transform: capitalize;">{{ c.company }}</td>
            <td>{{ c.phone }}</td>
            <td>{{ c.message }}</td>
           
            <td p-2>
              
            <a href='/del_contact/{{ c.id }}' style="color: black ; text-decoration: none; ">
              <i class="fa fa-trash"></i>DELETE</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>
</div>
</div>
</div>
  </div>
</div>

{% endblock%}